<div class="card" style=background-color:#e0be8e; id="mainform">
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title sign-title">Sign Up</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px">
                    <a id="signinlink"class="panel-title" href="/">Sign In</a>
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div id="error-group" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <ul id="errors"></ul>
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="col-md-3 control-label">First Name</label>
                        <div class="col-md-9">
                            <input id="firstname" type="text" class="form-control" name="first_name"
                                placeholder="First Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-md-3 control-label">Last Name</label>
                        <div class="col-md-9">
                            <input id="lastname" type="text" class="form-control" name="last_name"
                                placeholder="Last Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mob_no" class="col-md-3 control-label">Mobile Number</label>
                        <div class="col-md-9">
                            <input id="mob_no" type="text" class="form-control" name="mob_no"
                                placeholder="Mobile Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email_id" class="col-md-3 control-label">Email Id</label>
                        <div class="col-md-9">
                            <input id="email_id" type="text" class="form-control" name="mob_no" placeholder="Email Id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-md-3 control-label">User Name</label>
                        <div class="col-md-9">
                            <input id="username" type="text" class="form-control" name="username"
                                placeholder="User Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Password</label>
                        <div class="col-md-9">
                            <input id="password" type="password" class="form-control" name="password"
                                placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="favorite_games" class="col-md-3 control-label">What are your Favorite
                            Games?</label>
                        <div class="col-md-9">
                            <input id="favorite_games" type="text" class="form-control" name="favorite_games"
                                placeholder="let's play......">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="food_allergies" class="col-md-3 control-label">Mention your Food Allergies</label>
                        <div class="col-md-9">
                            <input id="food_allergies" type="text" class="form-control" name="food_allergies"
                                placeholder="list out your allergies if any...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="drink_preferences" class="col-md-3 control-label">What are your drink
                            preferences?</label>
                        <div class="col-md-9">
                            <input id="drink_preferences" type="text" class="form-control" name="mob_no"
                                placeholder="drink preferences??????">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="board_games_owned" class="col-md-3 control-label">What Board games do you
                            own?</label>
                        <div class="col-md-9">
                            <input id="board_games_owned" type="text" class="form-control" name="board_games_owned"
                                placeholder="List out the Board games you own">
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>
                                &nbsp Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>