.page-title {
  text-align: center;
  font-family: "Fugaz One", cursive;
  color: orange;
}

.panel-title {
  font-size: 20px;
}

#loginbox {
  background-color:rgb(232, 249, 252);
  width: 700px;
  height : 500px;
  margin: auto;
  padding:30px;
  top: -50px;
}

/* .title {
  text-align: center;
  font-family: "Fugaz One", cursive;
} */

/* .jumbotron {
  text-align: center;
  margin-left: 430px;
  margin-right: 430px;

  background-color: #9cc6cd;
} */

/* tried this to move the PW and User name input to center but this is not working also tried text align center also not working
.username .password {
 margin-left: 120px;
}
*/

.loginInfo {
  font-family: "Fugaz One", cursive;
  color: black;
  font-weight: bolder;
  font-size: large;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
/* 
@media  screen and (min-width: 900px){
.container {
    width: 70%;
}
} */