.control-label {
  color: #9cc6cd;
  font-family: "Fugaz One", cursive;
  font-size: 12px;
}
.panel-title {
  font-family: "Fugaz One", cursive;
  font-size: 19px;
}
.sign-title {
  font-size: 22px;
}
